<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.alexsuvorov.paistewiki.feature.product_list">

    <application>
        <activity
            android:name=".activity.SeriesDescriptionActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
    </application>

</manifest>